.sidebar-wrapper {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #e9edf1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.upload-image {
  display: block;
  background-color: #0d94ef;
  color: white;
  border: none;
  border-radius: 40px;
  padding: 12px 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin: 20px auto;
  width: 200px;
  transition: background 0.2s;
}

.upload-image:hover {
  background-color: #1a8cd8;
  cursor: pointer;
}

.sign-out-div {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 10px;
  margin-bottom: 100px;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.2s;
}

.sign-out-div:hover {
  background-color: #292727;
}

.user-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.user-details {
  flex-grow: 1;
}

.user-details h4 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.user-details p {
  margin: 0;
  font-size: 0.875rem;
  color: #6e767d;
}

.dots-icon {
  font-size: 1.5rem;
}

.profile-button {
  border: none;
  border-radius: 30px;
  margin-bottom: 1.3rem;
}
.profile-button:hover {
  background-color: lightgray;
}

@media (max-width: 768px) {
  .sidebar {
    align-items: center;
  }

  .upload-image {
    width: 100%;
    font-size: 1rem;
  }

  .sign-out-div {
    flex-direction: column;
    align-items: center;
  }

  .user-details {
    display: none;
  }
}
