.profile-sidebar-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.profileText {
  font-size: 16px;
  color: #333;
  margin: 5px 0;
}
.editButton {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.editButton:hover {
  background: #0056b3;
}
