.profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.profile-pic-wrapper {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #007bff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profileText {
  font-size: 16px;
  color: #333;
  margin: 5px 0;
}
.editButton {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.editButton:hover {
  background: #0056b3;
}
