.topUserContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  margin-bottom: 12px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.topUserContainer:hover {
  background-color: #e0e0e0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.topUserDetails {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: center;
  flex-grow: 1;
}

.topUserUsername {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.topUserRating {
  font-size: 14px;
  color: #888;
  margin-top: 4px;
  margin-bottom: 0;
}
